@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@-ms-viewport {
  width: device-width; }
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; }

[tabindex="-1"]:focus {
  outline: none !important; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

dfn {
  font-style: italic; }

b,
strong,
.strong {
  font-weight: bold; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:hover {
  color: #0056b3;
  text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
  color: inherit;
  text-decoration: none; }

a:not([href]):not([tabindex]):focus {
  outline: 0; }

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle;
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

a,
area,
button,
.button-action,
.button-classic,
.button-special,
.button-special.secondary,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation; }

table {
  border-collapse: collapse; }

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #868e96;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: .5rem; }

button, .button-action, .button-classic, .button-special, .button-special.secondary {
  border-radius: 0; }

button:focus, .button-action:focus, .button-classic:focus, .button-special:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button,
.button-action,
.button-classic,
.button-special,
.button-special.secondary,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button, .button-action, .button-classic, .button-special, .button-special.secondary,
input {
  overflow: visible; }

button, .button-action, .button-classic, .button-special, .button-special.secondary,
select {
  text-transform: none; }

button, .button-action, .button-classic, .button-special, .button-special.secondary,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, .button-action::-moz-focus-inner, .button-classic::-moz-focus-inner, .button-special::-moz-focus-inner, .button-special.secondary::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

progress {
  vertical-align: baseline; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none !important; }

/*# sourceMappingURL=bootstrap-reboot.css.map */
.row {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap; }

.row-nowrap {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  flex-wrap: nowrap; }

.col-L0 {
  display: none; }

.col-L1 {
  width: 8.33%; }

.col-L2 {
  width: 16.66%; }

.col-L3 {
  width: 25%; }

.col-L4 {
  width: 33.33%; }

.col-L5 {
  width: 41.66%; }

.col-L6 {
  width: 50%; }

.col-L7 {
  width: 58.33%; }

.col-L8 {
  width: 66.66%; }

.col-L9 {
  width: 75%; }

.col-L10 {
  width: 83.33%; }

.col-L11 {
  width: 91.66%; }

.col-L12 {
  width: 100%; }

@media (max-width: 992px) {
  .col-M0 {
    display: none; }

  .col-M1 {
    width: 8.33%; }

  .col-M2 {
    width: 16.66%; }

  .col-M3 {
    width: 25%; }

  .col-M4 {
    width: 33.33%; }

  .col-M5 {
    width: 41.66%; }

  .col-M6 {
    width: 50%; }

  .col-M7 {
    width: 58.33%; }

  .col-M8 {
    width: 66.66%; }

  .col-M9 {
    width: 75%; }

  .col-M10 {
    width: 83.33%; }

  .col-M11 {
    width: 91.66%; }

  .col-M12 {
    width: 100% !important; } }
@media (max-width: 576px) {
  .col-S0 {
    display: none; }

  .col-S1 {
    width: 8.33%; }

  .col-S2 {
    width: 16.66%; }

  .col-S3 {
    width: 25%; }

  .col-S4 {
    width: 33.33%; }

  .col-S5 {
    width: 41.66%; }

  .col-S6 {
    width: 50%; }

  .col-S7 {
    width: 58.33%; }

  .col-S8 {
    width: 66.66%; }

  .col-S9 {
    width: 75%; }

  .col-S10 {
    width: 83.33%; }

  .col-S11 {
    width: 91.66%; }

  .col-S12 {
    width: 100% !important; } }
/* ----------------------------- */
/* ==Base (basic styles)         */
/* ----------------------------- */
/* switching to border-box model for all elements */
html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit;
  /* avoid min-width: auto on flex and grid children */
  min-width: 0;
  min-height: 0; }

html {
  /* set base font-size to equiv "10px", which is adapted to rem unit */
  font-size: 62.5%;
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  font-size: calc(1em * 0.625); }

body {
  margin: 0;
  background-color: #f8f8f8;
  color: #181A1E;
  font-size: 1.4rem;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 1.5; }

/* Links */
a {
  color: #181A1E;
  text-decoration: underline; }
  a:focus, a:hover, a:active {
    color: black;
    text-decoration: underline; }

/* Headings */
h1, .h1-like {
  font-weight: 300;
  font-size: 2.2rem; }

h2, .h2-like {
  font-weight: 600;
  font-size: 1.2rem; }

h3, .h3-like {
  font-weight: 400; }

h4, .h4-like {
  font-weight: 400; }

h5, .h5-like {
  font-weight: 400; }

h6, .h6-like {
  font-weight: 400; }

.font-size-small {
  font-weight: 400;
  font-size: 1.2rem; }

/* Vertical rythm */
h1,
h2,
h3,
h4,
h5,
h6,
dd {
  margin-top: 0;
  margin-bottom: 2rem; }

p,
address,
ol,
ul,
dl,
blockquote,
pre {
  margin-top: 0;
  margin-bottom: 2rem; }

/* Avoid margins on nested elements */
li p,
li .p-like,
li ul,
li ol,
ol ol,
ul ul {
  margin-top: 0;
  margin-bottom: 0; }

/* Max values */
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video,
svg {
  max-width: 100%; }

img {
  height: auto; }

/* Styling elements */
ul,
ol {
  padding-left: 2em; }

img {
  vertical-align: middle; }

em,
.italic,
address,
cite,
i,
var {
  font-style: italic; }

code,
kbd,
mark {
  border-radius: 2px; }

kbd {
  padding: 0 2px;
  border: 1px solid #999; }

pre {
  tab-size: 2; }

code {
  padding: 2px 4px;
  background: rgba(0, 0, 0, 0.04);
  color: #b11; }

pre code {
  padding: 0;
  background: none;
  color: inherit;
  border-radius: 0; }

mark {
  padding: 2px 4px; }

sup,
sub {
  vertical-align: 0; }

sup {
  bottom: 1ex; }

sub {
  top: 0.5ex; }

blockquote {
  position: relative;
  padding-left: 3em;
  min-height: 2em; }

blockquote::before {
  content: "\201C";
  position: absolute;
  left: 0;
  top: 0;
  font-family: georgia, serif;
  font-size: 5em;
  height: .4em;
  line-height: .9;
  color: #ff00cc; }

blockquote > footer {
  margin-top: .75em;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.7); }
  blockquote > footer::before {
    content: "\2014 \0020"; }

q {
  font-style: normal; }

q,
.q {
  quotes: "ÔÇ£" "ÔÇØ" "ÔÇÿ" "ÔÇÖ"; }
  q:lang(fr),
  .q:lang(fr) {
    quotes: "┬½\00a0" "\00a0┬╗" "ÔÇ£" "ÔÇØ"; }

hr {
  display: block;
  clear: both;
  height: 1px;
  margin: 1em 0 2em;
  padding: 0;
  border: 0;
  color: #ccc;
  background-color: #ccc; }

blockquote,
figure {
  margin-left: 0;
  margin-right: 0; }

code,
pre,
samp,
kbd {
  white-space: pre-wrap;
  line-height: normal; }

.desktop {
  display: block; }

.mobile {
  display: none; }

.steel {
  color: #9EA3AD; }

.black {
  color: #181A1E; }

.flex {
  display: flex; }

.alignSelfCenter {
  align-self: center; }

.alignItemsStart {
  align-items: flex-start; }

.align-item-center {
  display: flex;
  align-items: center; }

.textAlignCenter {
  text-align: center; }

.textAlignRight {
  text-align: right; }

.spaceBetween {
  justify-content: space-between;
  display: flex !important; }

.flex-end {
  display: flex;
  justify-content: flex-end; }

.flex-start {
  align-items: flex-start; }

@media (max-width: 576px) {
  .desktop {
    display: none; }

  .mobile {
    display: block; } }
.material-icons.md-20 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

.material-icons.md-dark {
  color: #9EA3AD; }

.material-icons.md-dark.md-inactive {
  color: #9EA3AD; }

.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: #9EA3AD; }

.card {
  background: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  border-radius: 0;
  margin: 0 0 40px 0; }
  .card .card-title {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid #DEE0E4; }
  .card .card-content {
    padding: 20px 20px 0 20px; }

.col-L4,
.col-M6,
.col-L8 {
  margin-right: 40px; }
  .col-L4:last-child,
  .col-M6:last-child,
  .col-L8:last-child {
    margin-right: 0px; }

.article-description {
  display: none !important; }

@media (max-width: 992px) {
  .article-description {
    display: block !important; } }
@media (max-width: 992px) {
  .col-M12, .col-S12 {
    margin-right: 0 !important; } }
.line-form {
  margin: 0 0 20px 0; }
  .line-form select,
  .line-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #DEE0E4;
    border-radius: 4px; }
  .line-form label {
    margin: 0 0 5px 0;
    font-weight: 600; }

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: 0 0 40px 0; }

/* Hide the images by default */
.mySlides {
  display: none; }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center; }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease; }

.active, .dot:hover {
  background-color: #717171; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
button, .button-action, .button-classic, .button-special, .button-special.secondary {
  -webkit-appearance: none;
  font-size: 1.2rem;
  font-weight: 600;
  transition: .3s ease-in;
  height: 28px;
  width: auto;
  padding: 0 15px 0 15px;
  cursor: pointer;
  text-transform: uppercase;
  display: bloc; }

.button-action {
  background: linear-gradient(#FFD100, #FFBA00);
  border: none;
  color: #8F6932; }
  .button-action:hover {
    background: #FFBA00;
    transition: .3s ease-in-out; }
  .button-action:disabled {
    background: #ccc;
    color: #ff00cc;
    cursor: not-allowed; }

.button-classic {
  background: linear-gradient(#fff, #f8f8f8);
  border: 1px solid #DEE0E4;
  color: #9EA3AD; }
  .button-classic:hover {
    border: 1px solid #9EA3AD;
    color: #8F6932;
    transition: .3s ease-in-out;
    color: #313131; }
  .button-classic:disabled {
    background: #ccc;
    color: #ff00cc;
    cursor: not-allowed; }

.button-special, .button-special.secondary {
  background: linear-gradient(#FFD100, #FFBA00);
  border: none;
  color: #8F6932;
  font-size: 1.4rem;
  height: 35px;
  width: calc(100% - 40px);
  margin: 0 20px 20px 20px; }
  .button-special:hover {
    background: #FFBA00;
    transition: .3s ease-in-out; }
  .button-special:disabled {
    background: #ccc;
    color: #ff00cc;
    cursor: not-allowed; }

.button-special.secondary {
  background: #f8f8f8;
  color: #9EA3AD; }

.overlay {
  left: -100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 11;
  transition: 200ms; }

/* Dropdown Content (Hidden by Default) */
.content-link-mobile {
  display: none; }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: 0.5ms; }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; }
    .dropdown-content a:hover {
      background-color: #DEE0E4;
      transition: 0.5ms; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  transition: 0.5ms; }

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .header-contentlink {
  color: black;
  border-bottom: 3px solid #FFD100; }

.search-mobile {
  width: 100%;
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  padding: 20px;
  transition: 0.5ms; }
  .search-mobile input {
    border: none;
    border-bottom: 1px solid #DEE0E4;
    padding: 10px 20px 20px 0px;
    font-size: 2.2rem;
    width: 100%; }

@media (max-width: 1280px) {
  .content-link-mobile {
    display: block; }
    .content-link-mobile .dropdown-content {
      display: none;
      position: absolute;
      left: 50px;
      background-color: #181A1E;
      min-width: 100%;
      box-shadow: 0px;
      overflow-y: scroll;
      transition: 0.5ms;
      max-height: 100px; }
      .content-link-mobile .dropdown-content a {
        color: #fff;
        padding: 12px 16px;
        text-decoration: none;
        display: block; }
        .content-link-mobile .dropdown-content a:hover {
          background-color: #FFD100;
          transition: 0.5ms;
          color: #8F6932; }
    .content-link-mobile .dropdown {
      background-color: #181A1E;
      height: 45px;
      display: flex;
      align-items: center;
      padding: 0 20px 0 20px;
      border-left: 0px solid;
      transition: all 0.1s ease-out; }
    .content-link-mobile .dropdown:hover {
      cursor: pointer;
      color: #fff;
      border-left: 3px solid #FFD100;
      background-color: #313131;
      transition: all 0.3s ease-out; }
      .content-link-mobile .dropdown:hover .material-icons {
        color: #FFD100; } }
h1 {
  margin-bottom: 5px; }

h2 {
  margin-bottom: 0; }

header {
  background: #fff;
  color: #9EA3AD;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  z-index: 10; }
  header .header-content {
    width: 100%;
    margin: auto !important;
    padding: 0 40px 0 280px; }
  header .search-bar:hover {
    color: #181A1E; }
    header .search-bar:hover .material-icons {
      color: #181A1E; }
  header .search-bar .search-icon {
    min-width: 24px; }
  header .search-bar input {
    border: 0;
    width: auto;
    min-width: 280px;
    height: 60px;
    padding: 0 0 0 20px;
    color: #181A1E; }
    header .search-bar input::placeholder {
      color: #9EA3AD; }
  header .icon-search-mobile,
  header .icon-profil-mobile {
    display: none; }
  header .separator {
    width: 1px;
    height: 80%;
    background: #DEE0E4; }
  header .header-link {
    margin: 0 20px;
    height: 60px;
    cursor: pointer; }
    header .header-link:hover {
      color: #181A1E; }
      header .header-link:hover .material-icons {
        color: #181A1E; }
  header .header-contentlink {
    margin: 0 20px;
    padding: 19px 0 0 0;
    border-bottom: 3px solid #DEE0E4;
    align-items: stretch;
    /* align items in Cross Axis */
    align-content: stretch;
    /* Extra space in Cross Axis */
    display: flex;
    height: 100%;
    transition: all 0.3s ease-out; }
    header .header-contentlink:hover {
      cursor: pointer;
      color: black;
      border-bottom: 3px solid #FFD100;
      transition: all 0.3s ease-out; }

.myaccount .myaccount-avatar {
  height: 88px;
  width: 88px;
  background: #FFD100;
  border-radius: 100px;
  margin: 0 auto 20px auto;
  display: flex;
  align-items: center; }
  .myaccount .myaccount-avatar .stand-number {
    font-size: 2.2rem;
    color: #8F6932;
    display: block;
    width: auto;
    width: 100%;
    text-align: center; }
.myaccount .myaccount-select {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease-out; }
  .myaccount .myaccount-select:hover {
    color: #FFD100;
    transition: all 0.1s ease-out; }
    .myaccount .myaccount-select:hover .material-icons {
      color: #FFD100; }
.myaccount .user-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  background-color: #FFD100;
  display: none; }
  .myaccount .user-panel .user-panel-content {
    color: #8F6932;
    padding: 20px; }
    .myaccount .user-panel .user-panel-content p {
      border-bottom: 1px solid #8F6932;
      font-size: 1.2rem;
      padding: 0 0 20px 0; }
    .myaccount .user-panel .user-panel-content a {
      color: #8F6932; }
      .myaccount .user-panel .user-panel-content a:hover {
        color: #181A1E; }
  .myaccount .user-panel .close-panel {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;
    padding: 3px;
    background: #FFD100;
    text-align: center;
    cursor: pointer; }
    .myaccount .user-panel .close-panel .material-icons {
      color: #8F6932; }
    .myaccount .user-panel .close-panel:hover {
      background: #FFBA00; }

aside {
  background: #181A1E;
  height: 100%;
  width: 240px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  color: #9EA3AD;
  display: block;
  z-index: 20;
  margin-left: 0; }
  aside nav {
    margin-top: 2rem; }
  aside ul {
    padding: 0; }
  aside .material-icons {
    margin: 0 20px 0 0; }
  aside .main-link {
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
    border-left: 0px solid;
    transition: all 0.1s ease-out; }
    aside .main-link:hover {
      cursor: pointer;
      color: #fff;
      border-left: 3px solid #FFD100;
      background-color: #313131;
      transition: all 0.3s ease-out; }
      aside .main-link:hover .material-icons {
        color: #FFD100; }
  aside .aside-bloc-infos {
    position: fixed;
    bottom: 0;
    color: #fff;
    width: 240px;
    font-size: 1.2rem; }
    aside .aside-bloc-infos .aside-bloc-infos-content {
      padding: 20px; }
      aside .aside-bloc-infos .aside-bloc-infos-content .title {
        font-size: 1.4rem;
        margin: 10px 0 0 0;
        display: block;
        text-transform: uppercase; }
    aside .aside-bloc-infos .bloc-help-phone {
      background: #FFD100;
      color: #8F6932;
      padding: 20px; }
      aside .aside-bloc-infos .bloc-help-phone .material-icons {
        color: #8F6932; }
      aside .aside-bloc-infos .bloc-help-phone .txt {
        flex: 1; }
      aside .aside-bloc-infos .bloc-help-phone .phone-number {
        display: block;
        font-size: 1.6rem; }

.aside-open {
  transition: 0.2ms;
  margin-left: 0; }

.burger-button {
  display: none; }

.categories-desktop {
  display: block; }

.categories-mobile {
  display: none; }

.dropdown {
  background: #fff;
  height: 60px; }
  .dropdown .dropdown-select-link {
    width: 122px;
    color: #9EA3AD; }
    .dropdown .dropdown-select-link a {
      color: #9EA3AD; }
    .dropdown .dropdown-select-link .material-icons {
      padding: 0 15px 0 0; }
  .dropdown .dropdown-select-category-link {
    width: 100px !important;
    padding: 20px 5px 5px 20px !important;
    height: 60px !important; }
  .dropdown ul {
    padding: 0;
    margin: 0;
    background: #fff;
    float: left; }
  .dropdown li {
    position: relative;
    list-style: none;
    padding: 17px 0 0 15px !important;
    width: 240px; }
    .dropdown li a {
      text-decoration: none; }
    .dropdown li:last-child {
      padding-bottom: 15px !important; }
  .dropdown ul ul {
    position: absolute;
    left: 0;
    top: 48px;
    background: #fff;
    display: none; }
  .dropdown ul ul ul {
    left: 100%;
    top: 0;
    background: #fff; }
  .dropdown li:hover > ul {
    display: block; }

@media (max-width: 1280px) {
  .header-contentlink {
    display: none !important; } }
@media (max-width: 992px) {
  header .header-content {
    padding: 0 20px 0 74px !important; }
  header .search-bar input {
    height: 44px; }
  header .language-dropdown {
    margin: 0 !important; }
  header .header-link {
    margin: 0 10px; }

  .globalWrapper {
    margin: 100px 20px 0 20px; }

  .contentWrapper {
    margin: 74px auto 40px auto !important; }

  aside {
    transition: 0.5s;
    margin-left: -240px;
    overflow-x: hidden; }

  .aside-open {
    transition: 0.5s;
    margin-left: 0;
    overflow-x: hidden; }

  .burger-button {
    background: #FFD100;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    z-index: 13;
    transition: all 0.3s ease-out; }
    .burger-button .material-icons {
      margin: auto;
      font-size: 3.2rem;
      color: #8F6932; }
    .burger-button:hover {
      transition: all 0.3s ease-out;
      background: #FFBA00; } }
@media (max-width: 768px) {
  header .categories-desktop {
    display: none; }
  header .categories-mobile {
    display: block; }
  header .separator {
    display: none; }
  header .icon-search-mobile,
  header .icon-profil-mobile {
    display: flex !important; }
  header .icon-shopping-card {
    padding: 0px; }
  header .search-bar {
    display: none; }
  header .header-contentlink {
    display: none !important; } }
@media (max-height: 768px) {
  aside {
    overflow-x: auto; }
    aside nav .nav-links {
      margin: 0 0 0 0; }
    aside .aside-bloc-infos {
      position: inherit !important; } }
.globalWrapper {
  margin: 100px 40px 0 280px;
  transition: margin-left .5s; }

.contentWrapper {
  max-width: 1400px;
  margin: 74px auto 40px auto !important;
  width: 100%; }

.title-page {
  margin: 0 0 40px 0; }
  .title-page a {
    color: #9EA3AD;
    text-decoration: none; }
    .title-page a:hover {
      text-decoration: underline; }

.bloc-infos {
  font-size: 1.2rem; }

.bloc-details .card-content {
  padding: 0; }
.bloc-details .row {
  padding: 15px 20px; }
  .bloc-details .row .price {
    color: #FF5340;
    font-size: 3rem;
    font-weight: 600; }
.bloc-details .border {
  border-top: 1px solid #DEE0E4; }
  .bloc-details .border:first-child {
    border-top: 0px; }
.bloc-details button, .bloc-details .button-action, .bloc-details .button-classic, .bloc-details .button-special {
  font-size: 1rem; }

.form-card .line-form {
  width: 300px; }
.form-card .row .line-form {
  margin-right: 40px; }
  .form-card .row .line-form:last-child {
    margin-right: 0; }

@media (max-width: 992px) {
  .globalWrapper {
    margin: 100px 20px 0 20px; }

  .contentWrapper {
    margin: 74px auto 40px auto !important; } }
@media (max-width: 768px) {
  .slideshow-container {
    display: none; }

  .bloc-details button, .bloc-details .button-action, .bloc-details .button-classic, .bloc-details .button-special {
    font-size: 1rem !important; } }
.slideshow-container {
  /* Next & previous buttons */ }
  .slideshow-container .prev, .slideshow-container .next {
    background-color: #FFD100;
    width: 60px;
    height: 60px;
    top: 45%;
    padding: 0;
    display: flex;
    align-items: center; }
    .slideshow-container .prev .material-icons, .slideshow-container .next .material-icons {
      margin: auto;
      font-size: 3.2rem;
      color: #8F6932; }

.card-content-row-link {
  padding: 0; }

.article-bloc {
  display: flex;
  padding: 15px 20px;
  transition: .2s ease-in; }
  .article-bloc img {
    height: 84px !important;
    min-width: 84px; }
  .article-bloc:hover {
    background: #f8f8f8;
    cursor: pointer;
    transition: .2s ease-in; }
  .article-bloc a {
    display: flex;
    width: 100%;
    text-decoration: none; }
    .article-bloc a .article-infos .article-title:hover,
    .article-bloc a .article-infos .article-description:hover,
    .article-bloc a .article-infos .article-details:hover {
      text-decoration: underline; }

.vitrine .col-M6 {
  margin: 0; }

.article-infos {
  width: 100%;
  display: block;
  margin: 0 0 0 20px;
  padding: 0 0 0 0; }
  .article-infos .article-title {
    padding: 0 10px 5px 0; }
  .article-infos .article-title,
  .article-infos .article-price {
    font-weight: 600;
    padding: 0 10px 5px 0; }
  .article-infos .article-description {
    padding: 0 10px 5px 0; }
  .article-infos .article-price {
    color: #FF5340;
    font-size: 1.8rem; }
  .article-infos .buy-bloc {
    flex-direction: column;
    margin: 0 0 0 8px;
    min-width: 120px;
    text-align: right; }
    .article-infos .buy-bloc .article-price {
      padding: 0 0 5px 0; }

.product-details .col-L4 {
  margin: 0;
  padding: 0 40px 0 0; }
.product-details img {
  width: 100%;
  max-width: auto;
  height: auto; }
.product-details .title {
  font-size: 2.2rem;
  display: block;
  font-weight: 300; }
.product-details .description {
  padding: 20px 0;
  display: block; }
.product-details .price {
  color: #FF5340;
  font-size: 3.0rem;
  margin: 0 0 20px 0;
  display: block;
  font-weight: 600; }
.product-details button, .product-details .button-action, .product-details .button-classic, .product-details .button-special {
  float: right; }
.product-details .details {
  margin: 40px 0 0 0;
  padding: 20px 0 0 0;
  border-top: #DEE0E4 solid 1px; }

.row-card {
  flex-wrap: nowrap; }

.reverse-mobile {
  flex-direction: row; }

@media (max-width: 1280px) {
  .article-bloc img {
    height: 60px !important;
    min-width: 60px; }

  .article-infos {
    margin: 0 0 0 10px; }
    .article-infos button, .article-infos .button-action, .article-infos .button-classic, .article-infos .button-special {
      display: none; } }
@media (max-width: 992px) {
  .row-card {
    flex-wrap: wrap; }

  .reverse-mobile {
    flex-direction: column-reverse; }

  .article-infos.spaceBetween {
    justify-content: initial;
    display: block !important; }

  .buy-bloc {
    flex-direction: column;
    margin: 5px 0 0 0 !important;
    min-width: 120px;
    text-align: left !important; }
    .buy-bloc .article-price {
      padding: 0 0 5px 0; } }
@media (max-width: 576px) {
  .product-details .col-L4 {
    margin: 0;
    padding: 0 0 20px 0; } }

/*# sourceMappingURL=theme.css.map */
