.globalWrapper-login {
    margin: 100px 40px 0 40px;
}

.contentWrapper-login {
    max-width: 1000px;
    margin: 40px auto 40px auto !important;
    width: 100%;
}

.globalWrapper {
    margin: 100px 40px 0 280px;
    transition: margin-left .5s;
}

.contentWrapper {
    max-width: 1400px;
    margin: 74px auto 40px auto !important;
    width: 100%;
}

.title-page {
    margin: 0 0 40px 0;
    a {
        color: $steel;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.table {
    padding: 0 !important;
    .row-nowrap {
        padding: 15px 20px;
        align-items: center;
        border-bottom: 1px solid $pearl-grey;
        &:last-child {
            border-bottom: 0px solid $pearl-grey;
        }
        .col-L2,
        .col-L1 {
            padding: 0 10px 0 0;
        }
    }
    .order {
        display: flex;
        img {
            height: 50px;
            width: 50px;
            min-width: 60px;
            max-width: 60px;
            margin: 0 10px 0 0;
        }
        .quantity {
            color: $steel;
            font-size: $font-size-small;
        }
        .article-name {
            padding: 0 20px 0 0;
        }
    }
}

.messages {
    @extend .table;
    .new-message {
        font-weight: $weight-semibold;
    }
}

.bloc-infos {
    font-size: $font-size-small;
}

.bloc-details {
    .card-content {
        padding: 0;
    }
    .row {
        padding: 15px 20px;
        .price {
            color: $grenadine;
            font-size: 3rem;
            font-weight: $weight-semibold;
        }
    }
    .border {
        border-top: 1px solid $pearl-grey;
        &:first-child {
            border-top: 0px;
        }
    }
    button {
        font-size: 1rem;
    }
    .button-classic {
        float: right;
    }
}

.form-card {
    position: relative;
    padding: 20px 20px 80px 20px !important;
    .line-form {
        width: 300px;
    }
    .row {
        .line-form {
            margin-right: 40px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    button {
        position: absolute;
        bottom: 40px;
        right: 40px;
    }
}

.card-checkout {
    border-top: 1px solid $steel;
    .checkbox-line {
        margin: 20px 0 20px 0;
    }
    .button-special {
        float: right;
        max-width: 300px;
        margin: 0 0 20px 0;
        ;
    }
}

.textarea-bloc {
    display: none;
}

.login-container {
    background: $black-star;
    height: 100%;
    padding: 50px;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    .row {
        input {
            border: 0;
            border-radius: 0;
        }
        max-width: 300px;
        flex-direction: column;
        .button-special {
            width: 100% !important;
            margin: 0;
            height: 41px;
        }
        img {
            width: 100%;
            margin: 0 0 20px 0;
        }
    }
    .row-stand {
        @extend .row;
        padding: 50px;
        background: rgba(255, 255, 255, 0);
        transition: background-color 0.3s;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
            background: rgba(255, 255, 255, 0.1);
            transition: background-color 0.3s;
            border-radius: 10px;
        }
    }
}

footer {
    color: $steel;
    a {
        color: $steel;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: $large) {
    .globalWrapper {
        margin: 100px 20px 0 20px;
    }
    .contentWrapper {
        margin: 74px auto 40px auto !important;
    }
    .table {
        .row-nowrap {
            flex-wrap: wrap;
            padding: 15px 20px;
            .textAlignRight {
                text-align: left;
            }
            div {
                padding-top: 8px !important;
            }
        }
    }
}

@media (max-width: $extra-large) {
    .slideshow-container {
        display: none;
    }
    .bloc-details {
        button {
            font-size: 1rem !important;
        }
    }
}