.globalWrapper {
    margin: 100px 40px 0 280px;
    transition: margin-left .5s;
}

.contentWrapper {
    max-width: 1400px;
    margin: 74px auto 40px auto !important;
    width: 100%;
}

.title-page {
    margin: 0 0 40px 0;
}

@media (max-width: $extra-large) {}

@media (max-width: $large) {
    .globalWrapper {
        margin: 100px 20px 0 20px;
    }
    .contentWrapper {
        margin: 74px auto 40px auto !important;
    }
}

@media (max-width: $medium) {
    .slideshow-container {
        display: none;
    }
}