header {
    background: $white;
    color: $steel;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .05);
    z-index: 10;
    .header-content {
        width: 100%;
        margin: auto !important;
        padding: 0 40px 0 280px;
    }
    .search-bar {
        &:hover {
            color: $black-star;
            .material-icons {
                color: $black-star;
            }
        }
        .search-icon {
            min-width: 24px;
        }
        input {
            border: 0;
            width: auto;
            min-width: 280px;
            height: 60px;
            padding: 0 0 0 20px;
            color: $black-star;
            &::placeholder {
                color: $steel;
            }
        }
    }
    .icon-search-mobile,
    .icon-profil-mobile {
        display: none;
    }
    .separator {
        width: 1px;
        height: 80%;
        background: $pearl-grey;
    }
    .header-link {
        margin: 0 20px;
        height: 60px;
        cursor: pointer;
        &:hover {
            color: $black-star;
            .material-icons {
                color: $black-star;
            }
        }
    }
    .header-contentlink {
        margin: 0 20px;
        padding: 19px 0 0 0;
        border-bottom: 3px solid $pearl-grey;
        align-items: stretch;
        /* align items in Cross Axis */
        align-content: stretch;
        /* Extra space in Cross Axis */
        display: flex;
        height: 100%;
        transition: all 0.3s ease-out;
        &:hover {
            cursor: pointer;
            color: black;
            border-bottom: 3px solid $yellow-submarine;
            transition: all 0.3s ease-out;
        }
    }
}

.myaccount {
    .myaccount-avatar {
        height: 88px;
        width: 88px;
        background: $yellow-submarine;
        border-radius: 100px;
        margin: 0 auto 20px auto;
        display: flex;
        align-items: center;
        .stand-number {
            font-size: 2.2rem;
            color: $chocolate;
            display: block;
            width: auto;
            width: 100%;
            text-align: center;
        }
    }
    .myaccount-select {
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 0.1s ease-out;
        &:hover {
            color: $yellow-submarine;
            transition: all 0.1s ease-out;
            .material-icons {
                color: $yellow-submarine;
            }
        }
    }
    .user-panel {
        position: absolute;
        top: 0;
        left: 0;
        width: 240px;
        background-color: $yellow-submarine;
        display: none;
        .user-panel-content {
            color: $chocolate;
            padding: 20px;
            p {
                border-bottom: 1px solid $chocolate;
                font-size: $font-size-small;
                padding: 0 0 20px 0;
            }
            a {
                color: $chocolate;
                &:hover {
                    color: $black-star;
                }
            }
        }
        .close-panel {
            position: absolute;
            width: 30px;
            height: 30px;
            top: 0;
            right: 0;
            padding: 3px;
            background: $yellow-submarine;
            text-align: center;
            cursor: pointer;
            .material-icons {
                color: $chocolate;
            }
            &:hover {
                background: $yellow-hover;
            }
        }
    }
}

aside {
    background: $black-star;
    height: 100%;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    color: $steel;
    display: block;
    z-index: 20;
    margin-left: 0;
    nav {
        margin-top: $margin-top-base;
    }
    ul {
        padding: 0;
    }
    .material-icons {
        margin: 0 20px 0 0;
    }
    .main-link {
        a {
        height: 45px;
        color: $steel;
        display: flex;
        align-items: center;
        padding: 0 20px 0 20px;
        border-left: 0px solid;
        transition: all 0.1s ease-out;
        text-decoration: none;
        &:hover {
            cursor: pointer;
            color: $white;
            border-left: 3px solid $yellow-submarine;
            background-color: $slate;
            transition: all 0.3s ease-out;
            .material-icons {
                color: $yellow-submarine;
            }
        }
    }
    }
    .aside-bloc-infos {
        position: fixed;
        bottom: 0;
        color: $white;
        width: 240px;
        font-size: $font-size-small;
        .aside-bloc-infos-content {
            padding: 20px;
            .title {
                font-size: $font-size-base;
                margin: 10px 0 0 0;
                display: block;
                text-transform: uppercase;
            }
        }
        .bloc-help-phone {
            background: $yellow-submarine;
            color: $chocolate;
            padding: 20px;
            .material-icons {
                color: $chocolate;
            }
            .txt {
                flex: 1;
            }
            .phone-number {
                display: block;
                font-size: 1.6rem;
            }
        }
    }
}

.aside-open {
    transition: 0.2ms;
    margin-left: 0;
}


.burger-button {
    display: none;
}

.categories-desktop {
    display: block
}

.categories-mobile {
    display: none
}

.dropdown {
    background: $white;
    height: 60px;
    .dropdown-select-link {
        width: 122px;
        color: $steel;
        a {
            color: $steel;
        }
        .material-icons {
            padding: 0 15px 0 0;
        }
    }
    .dropdown-select-category-link {
        width: 100px !important;
        padding: 20px 5px 5px 20px !important;
        height: 60px !important;
    }
    ul {
        padding: 0;
        margin: 0;
        background: #fff;
        float: left;
    }
    li {
        position: relative;
        list-style: none;
        padding: 17px 0 0 15px !important;
        width: 240px;
        a {
            text-decoration: none;
        }
        &:last-child {
            padding-bottom: 15px !important;
        }
    }
    ul ul {
        position: absolute;
        left: 0;
        top: 48px;
        background: #fff;
        display: none;
    }
    ul ul ul {
        left: 100%;
        top: 0;
        background: #fff;
    }
    li:hover>ul {
        display: block;
    }
}

@media (max-width: $extra-large) {
    .header-contentlink {
        display: none !important;
    }
}

@media (max-width: $large) {
    header {
        .header-content {
            padding: 0 20px 0 74px !important;
        }
        .search-bar {
            input {
                height: 44px;
            }
        }
        .language-dropdown {
            margin: 0 !important;
        }
        .header-link {
            margin: 0 10px;
        }
    }
    .globalWrapper {
        margin: 100px 20px 0 20px;
    }
    .contentWrapper {
        margin: 74px auto 40px auto !important;
    }
    aside {
        transition: 0.5s;
        margin-left: -240px;
        overflow-x: hidden;
    }
    .aside-open {
        transition: 0.5s;
        margin-left: 0;
        overflow-x: hidden;
    }
    .burger-button {
        background: $yellow-submarine;
        cursor: pointer;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        z-index: 13;
        transition: all 0.3s ease-out;
        .material-icons {
            margin: auto;
            font-size: 3.2rem;
            color: $chocolate;
        }
        &:hover {
            transition: all 0.3s ease-out;
            background: $yellow-hover;
        }
    }
}

@media (max-width: $medium) {
    header {
        .categories-desktop {
            display: none;
        }
        .categories-mobile {
            display: block;
        }
        .separator {
            display: none;
        }
        .icon-search-mobile,
        .icon-profil-mobile {
            display: flex !important;
        }
        .icon-shopping-card {
            padding: 0px;
        }
        .search-bar {
            display: none;
        }
        .header-contentlink {
            display: none !important;
        }
    }
}

@media (max-height:768px) {

    aside {
        overflow-x: auto;
        nav {
           .nav-links {
               margin: 0 0 0 0;
           }
        }
        .aside-bloc-infos {
            position: inherit !important;
        }
    }
}