.article-bloc {
    display: flex;
    margin: 0 0 30px 0;
    img {
        height: 84px !important;
        min-width: 84px;
    }
}

.article-infos {
    display: block;
    margin: 0 0 0 20px;
    padding: 0 0 0 0;
    .article-title {
        padding: 0 10px 5px 0;
    }
    .article-title,
    .article-price {
        font-weight: $weight-semibold;
        padding: 0 10px 5px 0;
    }
    .article-description {
        padding: 0 10px 5px 0;
    }
    .article-price {
        color: $grenadine;
        font-size: 1.8rem;
    }
}

.featured-articles {
    flex-wrap: nowrap;
}

@media (max-width: $extra-large) {
    .article-bloc {
        img {
            height: 60px !important;
            min-width: 60px;
        }
    }
    .article-infos {
        margin: 0 0 0 10px;
        button {
            display: none
        }
    }
}

@media (max-width: $large) {
    .featured-articles {
        flex-wrap: wrap;
    }
}
