button {
    -webkit-appearance: none;
    font-size: 1.2rem;
    font-weight: $weight-semibold;
    transition: .3s ease-in;
    height: 28px;
    width: auto;
    padding: 0 15px 0 15px;
    cursor: pointer;
    text-transform: uppercase;
    display: bloc
}

.button-action {
    @extend button;
    background: linear-gradient($yellow-submarine, $yellow-hover);
    border: none;
    color: $chocolate;
    &:hover {
        background: $yellow-hover;
        transition: .3s ease-in-out;
    }
    &:disabled {
        background: #ccc;
        color: #ff00cc;
        cursor: not-allowed;
    }
}

.button-classic {
    @extend button;
    background: linear-gradient($white, $lunar-white);
    border: 1px solid $pearl-grey;
    color: $steel;
    &:hover {
        border: 1px solid $steel;
        color: $chocolate;
        transition: .3s ease-in-out;
        color: $slate;
    }
    &:disabled {
        background: #ccc;
        color: #ff00cc;
        cursor: not-allowed;
    }
}

.button-special {
    @extend button;
    background: linear-gradient($yellow-submarine, $yellow-hover);
    border: none;
    color: $chocolate;
    font-size: 1.4rem !important;
    height: 35px;
    width: calc(100% - 40px);
    margin: 0 20px 20px 20px;
    &:hover {
        background: $yellow-hover;
        transition: .3s ease-in-out;
    }
    &:disabled {
        background: #ccc;
        color: #ff00cc;
        cursor: not-allowed;
    }
}

.button-special.secondary {
    @extend .button-special;
    background: $lunar-white;
    color: $steel;
}






.input-file-container {
    position: relative;
}

.js .input-file-trigger {
  @extend button;
  background: linear-gradient($yellow-submarine, $yellow-hover);
  border: none;
  color: $chocolate;
  padding: 5px 15px;
}

.js .input-file {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}

.js .input-file:hover+.input-file-trigger,
.js .input-file:focus+.input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: $yellow-hover;
  transition: .3s ease-in-out;
}

.file-return {
    margin: 0;
}

.file-return:not(:empty) {
    margin: 1em 0;
}

.js .file-return {
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
    display: none;
}

.js .file-return:not(:empty):before {
    content: "Selected file: ";
    font-style: normal;
    font-weight: normal;
}