button {
    -webkit-appearance: none;
    font-size: 1.2rem;
    font-weight: $weight-semibold;
    transition: .3s ease-in;
    height: 28px;
    width: auto;
    padding: 0 15px 0 15px;
    cursor: pointer;
    text-transform: uppercase;
    display: bloc
    
  }
  
  .button-action {
    @extend button;
    background: linear-gradient($yellow-submarine, $yellow-hover);
    border:none;
    color: $chocolate;
    &:hover {
      background: $yellow-hover;
        transition: .3s ease-in-out;
      }
      &:disabled {
        background: #ccc;
        color: #ff00cc;
        cursor: not-allowed;
      }
  }

  
  
  .button-classic {
    @extend button;
    background: linear-gradient($white, $lunar-white);
    border: 1px solid $pearl-grey;
    color: $steel;
    &:hover {
      border: 1px solid $steel;
      color: $chocolate;
        transition: .3s ease-in-out;
        color: $slate;
      }
      &:disabled {
        background: #ccc;
        color: #ff00cc;
        cursor: not-allowed;
      }
  }

  .button-special {
    @extend button;
    background: linear-gradient($yellow-submarine, $yellow-hover);
    border:none;
    color: $chocolate;
    font-size: 1.4rem;
    height: 35px;
    width: calc(100% - 40px);
    margin: 0 20px 20px 20px;
    &:hover {
      background: $yellow-hover;
        transition: .3s ease-in-out;
      }
      &:disabled {
        background: #ccc;
        color: #ff00cc;
        cursor: not-allowed;
      }
  }

  .button-special.secondary {
    @extend .button-special;
    background: $lunar-white;
    color: $steel;

  }


  