.header-table {
    padding: 0 20px 10px 20px;
    border-bottom: 1px solid $pearl-grey;
    color: $steel;
    font-size: $font-size-small;
}

.actions-statut-line {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    * {
        margin: 0 5px;
    }
    .material-icons {
        cursor: pointer;
        transition: .3s ease-in-out;
        &:hover {
            background: $lunar-white;
            width: 24px;
            height: 24px;
            border-radius: 100px;
            transition: .3s ease-in-out;
            color: $black-star;
        }
    }
}


@media (max-width:$large) {
    .header-table {
        display: none;
    }
}